<section ng-controller="HomeController">
  
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
          <h1>JobFinder</h1>
        </div>
      </div>
      <br>
      <div class="row">
        <p class="lead">
          Find new posted Jobs Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </p>
      </div>
      <div class="row">
        <p>
          <a class="btn btn-primary btn-lg" href="/jobs">List Jobs</a>
          <a class="btn btn-success btn-lg" href="/jobs/create">Post Jobs</a>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="text-center heading">Human Resource Management</h2 class="text-center">
    <div class="row">
      <div class="col-md-3">
        <h4>Temporibus</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, exercitation ullamco.</p>
      </div>
      <div class="col-md-3">
        <h4>Suscipit</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, exercitation ullamco. </p>
      </div>
      <div class="col-md-3">
          <h4>Doloribus</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, exercitation ullamco. </p>
      </div>
      <div class="col-md-3">
          <h4>Voluptatibus</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, exercitation ullamco. </p>
      </div>
    </div>
  </div> <!-- .container -->

  <div class="bg-info staffing">
    <div class="container">
      <h2 class="text-center">STAFFING</h2>
      <h4 class="text-center">Solutions for You</h4>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci tempora recusandae rem, odit illum necessitatibus sequi distinctio sunt ipsum maxime, qui reiciendis officiis dicta nesciunt deleniti ex, voluptas pariatur iusto? Ullam voluptas ipsam itaque enim fugiat recusandae veniam magni nisi sunt, dolores ipsa, autem excepturi incidunt! Accusamus nisi quod at illo sint consectetur doloremque ipsum unde quibusdam natus sequi magni possimus voluptatibus itaque, asperiores quaerat deleniti et necessitatibus earum est beatae expedita. Nesciunt magnam nobis repudiandae quasi aperiam voluptatem asperiores commodi nulla, possimus sunt adipisci corporis facilis. Quod, libero vitae debitis, architecto ducimus corrupti suscipit porro nemo minima asperiores laudantium.</p>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-center">copyright 2016 expertcodedesign.com</p>
    </div>
  </footer>

</section>